<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <head th:replace="includes/base :: css"></head>
        <title>Add Item</title>
    </head>
    <body class="bg-warning">
        <header th:replace="includes/base :: navbar"></header>
        <main>
            <div class="container">
                <div class="container-fluid">
                    <h1 class="text-center m-4">Add Item</h1>
                    <div class="card">
                        <div class="card-body m-3">
                            <form method="POST" action="#" th:action="@{/item/store}" th:object="${item}">
                                <div class="row mb-3">
                                    <label for="namaBarang" class="col-sm-2 col-form-label">Nama Barang</label>
                                    <div class="col-sm-10">
                                        <input th:field="*{nama}" type="text" class="form-control" id="example-todo-title" aria-describedby="emailHelp" placeholder="Nama Barang" required>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="namaBarang" class="col-sm-2 col-form-label">Deskripsi Barang</label>
                                    <div class="col-sm-10">
                                        <input th:field="*{deskripsi}" type="text" class="form-control" id="example-todo-title" aria-describedby="emailHelp" placeholder="Deskripsi" required>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="jumlahBarang" class="col-sm-2 col-form-label">Jumlah Barang</label>
                                    <div class="col-sm-10">
                                        <input th:field="*{jumlah}" type="text" class="form-control" id="example-todo-title" aria-describedby="emailHelp" placeholder="Jumlah" required>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="rupiah" class="col-sm-2 col-form-label">Harga Barang</label>
                                    <div class="col-sm-10">
                                        <input th:field="*{harga}" type="text" class="form-control" id="rupiah" aria-describedby="emailHelp" placeholder="Harga Barang" required>
                                    </div>
                                </div>
                                
                                <div class="row mb-3">
                                    <button type="submit" class="btn btn-warning">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script type="text/javascript">
            var rupiah = document.getElementById('rupiah');
            rupiah.addEventListener('keyup', function(e){
                rupiah.value = formatRupiah(this.value, 'Rp. ');
            })

            function formatRupiah(angka, prefix){
                var number_string = angka.replace(/[^,\d]/g, '').toString(),
                split = number_string.split(','),
                sisa = split[0].length % 3,
                rupiah = split[0].substr(0, sisa),
                ribuan = split[0].substr(sisa).match(/\d{3}/gi);

                if(ribuan){
                    separator = sisa ? '.' : '';
                    rupiah += separator + ribuan.join('.');
                }

                rupiah = split[1] != undefined ? rupiah + ',' + split[1] : rupiah;
                return prefix == undefined ? rupiah : (rupiah ? 'Rp. ' + rupiah : '');
            }
        </script>
        
    </body>
</html>